/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 10 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    background-color:#0d0d0e;
    height: auto;
    
}


/* ===== Colours ===== */
:root{
    --body-color: white;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #18191A;
    --search-bar: #F2F2F2;
    --search-text: #010718;


}




body.dark{
    --body-color: black;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: white;
    --search-bar: #242526;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin: 0 auto;
    
   
}

.nav_quotes{
    width: 100%;
    height: 50px;
 margin: 0 auto;
 background-color: white;

 color: #282525;

     justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}

.array_img{


background-repeat: no-repeat;
height: auto;
width: 900px;
object-fit: fill;
margin: 0 auto;


}
.responsive {
    max-width: 720px;
    height: auto;
  }

/* drop down css code
 */
 /* .dropbtn {
    background-color:#282525;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
    height: 50px;
margin-left: 25px;
margin-right: 25px;
    justify-content: space-evenly;
 align-content: space-around;
 align-items: center;

 
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
        justify-content: space-evenly;
     align-content: space-around;
     align-items: center;

   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
        justify-content: space-evenly;
     align-content: space-around;
     align-items: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
        justify-content: space-evenly;
     align-content: space-around;
     align-items: center;

  } */
/*   
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .news_dropdown{
text-decoration: none;
color: white; 
margin-left: 25px;
margin-right: 25px;
    justify-content: space-evenly;
 align-content: center;
 align-items: center;
font-size: 18px;
  }

  .news_dropdown a:hover {background-color: #3e8e41;}
  
  .dropdown:hover .news_dropdown {display: block;}
  
  .dropdown:hover .news_dropdown {background-color:#3e8e41 ;} */
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color:#010718;
    color: white;
    z-index: 100;
    margin-bottom: 300px;
    margin: 0 auto;
}



nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color:#010718;
    color: white;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: white;
     background-color:#010718;
    color: white;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
     background-color:#010718;
    color: white;
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    background-color:#010718;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color:#010718;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}




.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color:#010718;
    color: white;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color:#010718;
    color: white;
        transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    background-color:#010718;
    color: white;
}

body.dark .search-field input{
    color: white;
    background-color:#010718;
    color: white;
}

.search-field i{
    position: absolute;
    background-color:#010718;
    color: white;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

  
@media screen and (max-width:700px) {

    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color:#010718;
        color: white;
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
        
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

/* add collapsable css */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color:#010718;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0 auto;
  }
  
  .active, .collapsible:hover {
    background-color:#010718;
    color: white;  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #010718;
    color: white;
  }


.topic_div{
  margin:  0 auto;
width: 100%;
height: 80px;
background-color: black;
color: white;
font-size: 35px;

font-weight: 800;
  }

.quote_div{
   margin: 0 auto;
width: 800px;
height: 50px;
background-color: #282525;
color: white;
font-size: 15px;
padding-top: 10px;
font-weight: 800;
border: 2px solid black;

  }
.Note_div{
margin: 0 auto;
max-width:800px;
height: 200px;

text-wrap: wrap;
text-align: start;
color: white;
font-size: 15px;
background-color:#010718;
color: white;
  }

.img_explained{
    margin: 0 auto;
    max-width:800px;
    height: 150px;
   
    text-wrap: wrap;
    text-align: start;
    color: white;
    font-size: 15px;
    background-color: #18191A;
    color: white;
    
      }

  

  /* Style the button that is used to open and close the collapsible content */
.collapsible{
    background-color:#18191A;;
    color: white;
    cursor: pointer;
    padding: 18px;
    margin: 0 auto;
    border: 2px solid black;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 800px;
    height: 45px;
   padding-bottom: 15px;
   text-decoration: none;
   margin: 0 auto;
  }
.active, .collapsible:hover {
    background-color: #18191A;
    background-color: #282525;
    color: white;
  }
.content {
    padding: 0 18px;
    max-height: 0;
text-decoration: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #18191A;
    color: white;
    width: 800px;
    
    margin: 0 auto;
  }

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    text-decoration: none;
    background-color: #282525;
color: white;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


